/liftstats-frontend/node_modules
/liftstats-frontend/.pnp
/liftstats-frontend/.pnp.js

# testing
/liftstats-frontend/coverage

# production
/liftstats-frontend/build

# misc
/liftstats-frontend/.DS_Store
/liftstats-frontend/.env.local
/liftstats-frontend/.env.development.local
/liftstats-frontend/.env.test.local
/liftstats-frontend/.env.production.local

/liftstats-frontend/npm-debug.log*
/liftstats-frontend/yarn-debug.log*
/liftstats-frontend/yarn-error.log*

/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
